<h1>Queue</h1>
<table id="queue">
<tr>
  <th>Timestamp</th>
  <th>Name</th>
  <th>Course</th>
</tr>

<tr>
<% @queueentries.each do |entry| %>                    
  <td><%= entry.created_at %><td>
  <td><%= %Q(#{entry.student.first_name} #{entry.student.last_name}) %><td>
  <td><%= entry.course %><td>
  <% end %>
</tr>
</table>