%h1 Your estimated wait time is #{@wait_time}
%ul#details<
  %li
    Do you want to wait in line?
    = link_to 'YES', new_student_queue_path, :method => :get
    = link_to 'NO', new_student_queue_path, :method => :get